/*---HEADER----*/

header{
    nav{
        div{
            a{
                img{
                    width: 100px;
                    height: 100px;
                }
            }
        div{
            ul{
                .active{
                    text-align: center;
                    font-family:'Crimson Text', serif;
                    font-size: 30px;
                    font-weight: bold;
                    padding: 0px;

            }
        }
        }
        }
    }
    }
            .btn-com{
                display: flex;
                gap: 10px;
                list-style: none;
                display: flex;
                font-weight: bold;
            }

