@media screen and (max-width: 950px){
    main{
        .galeria{
            .galeriaGrid{
                grid-template-columns: repeat(2,1fr);
                grid-auto-rows: 220px;
                .img2{
                    grid-area: span 2
                }
            }
        }
    }
            } 


@media screen and (max-width:450px){
    main{
        .sobreNosotros{
            p{
                font-size: 15px;
            }
        }

        }
        
    main .galeria .galeriaGrid{
        grid-template-columns: 1fr;
        grid-auto-rows: 220px;}

    main h2{
        font-size: 30px; 
        text-align: center;
        }

    footer{
        flex-direction: column;
        div{
            a{
                img{
                    height: 30vh;
                    width: 120px;
                }
            }
        }
    }
}